html{
  text-align: center;
  background-color: #00ff00; /*for browsers that don't support gradient*/
  height: 100%;
  background-image: linear-gradient(to right, burlywood , rgb(238, 238, 109));
}

header{
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
}

.calcContainer{
  border: 5px solid rgb(5, 5, 5);
  border-radius: 15px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 540px;
  margin-top: 90px;
  background-color:rgb(172, 172, 172);
}

#input {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  border-radius: 11px;
  background-color: #6d90ee;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

#resultTxt{
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  height: 50px;
  border: solid black 2px;
  border-radius: 15px;
  margin-top: 2px;
  background-color: white;
}

button {
  height: 75px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  background-color: white;
  font-size: 3rem;
  color: red;
}

button:hover {
  background-color: #eaeaea;
}

.operatorBtn {
  color: #000000;
  background-color: #6d90ee;
}

.operatorBtn:hover{
  background-color: #8fa7eb;
}

#clearBtn {
  background-color: #f0595f;
  border-color: #ff0000;
  color: #fff;
}

#clearBtn:hover {
  background-color: #f17377;
}

#equalBtn {
  background-color: #00ff00;
  border-color: #00ff00;
  /*make equalBtn span from row 2 to row 6
  by setting grid-row-start, grid-row-end and height:100% */
  grid-row-start: 4;
  grid-row-end: 6;
  height: 100%;
  /*span btn between col 4 and 5*/
  grid-column-start: 4;
  grid-column-end: 5;
  /*shorthand:
  grid-row: 2/6;
  grid-column: 4/5;
  */
  font-size: 10rem;
}

#equalBtn:hover {
  background-color: black;
}

.keys{
  display: grid;
  height: 400px;
  
  padding: 5px 5px; /*outer gap*/

  grid-template-columns: repeat(4,1fr); /*4 cols of equal width*/
  
  /*add space between buttons*/
  grid-gap: 1px 5px; /*short for grid-row-gap and grid-column-gap*/
  /*1st num for row, 2nd num for column*/
  /*if they're the same, can use only 1 num*/
}

#backBtn{
  grid-row-start:1;
  grid-row-end:2;
  grid-column-start:4;
  grid-column-end:5;
}

#btn0{
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:2;
  grid-column-end:3;
}

#clearBtn{
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:4;
  grid-column-end:5;
}

#changeSignBtn{
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:2;
  grid-column-end:3;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

/* Smartphones ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 414px) {
/* STYLES GO HERE */
  header{
      margin-top:20px;
  }
  .calcContainer {
      width: 350px;
      top:40%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}